/*
    NUEVA PALETA DE COLORES
    color       donde va?
    #FFFFFF = texto
    #000000 = footer-bg
    #DFD0BB = navbar-bg
    #13243B = allpages-bg
    #474344 = headers-bg
 */


*, *::before, *::after{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #13243B;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
    background:#1E1E24;
}

body::-webkit-scrollbar-thumb{
    background: #0a3045;
}


/* navbar responsive PC*/
@media only screen and (min-width: 600px){

    .grid_layout-item.medium{
        grid-row: span 2;
        grid-column: span 2;
    }
    .grid_layout-item.large{
        grid-row: span 3;
        grid-column: span 3;
    }

    .grid_layout-item.tall{
        grid-row: span 3 /auto;
        grid-column: span 2;
    }

    .grid_layout-item.wide{
        grid-row: span 2;
        grid-column: span 3/auto;
    }

    .grid_layout-item.long{
        grid-row: span 1;
        grid-column: span 3/auto;
    }
}


.grid_layout {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
    grid-auto-rows: 250px;
}

.grid_layout-item{
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    border-radius:5px;
    background: -webkit-linear-gradient(right,black, #010101);/*gradiente entre 2 colores*/
    background-size: 100% 100%;/*100%100%:estira la imagen; contain:preserva aspect ratio; cover:reescala sin preservar aspectratio*/
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    /* width:100%; */
    /* max-height: 100%; */
    transition: all 400ms;
}
.show_image{
    background-image:var(--image_url);
}

.grid_layout-item:hover{
     transform: translateY(-3px) scale(1.1);
}

/* .grid_layout-item img{ */
/*     max-width: 100%; */
/*     height: 100%; */
/* } */

.grid_layout-item.small{
    grid-row: span 1;
    grid-column: span 1;
}

.image-overlay{
    display: flex;
    direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    color: #FFFFFF;
    opacity: 0;
    transition: opacity 200ms;
}

.image-overlay:hover{
    opacity: 1;
}

.image-overlay > *{
    transform: translateY(50px);
    transition: transform 250ms;
}

.image-overlay:hover > *{
    transform: translateY(0);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    top:0;
    left:0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
