*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-container{
    display: flex;
    flex-direction: row;
    background-color: #DFD0BB;
    width: 75%;
    height: 25%;
    list-style: none;
}

.profile-image{
    width:25%;
    height: 100%;
    align-self: center;
}

.profile-pic{
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
}


.profile-user{
    align-self: center;
    justify-self: center;
    width: 25%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.profile-user-name{
    font-weight: bold;
    font-size: 2.5rem;
    align-self: center;
}


.profile-stats{
    width: 20%;
    align-self: center;
}

.profile-stats ul{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.profile-stats li{
    cursor:pointer;
    line-height: 1.5;
    font-size: 1.5rem;
}

.profile-stats-count{
    font-weight: bold;
}

.profile-bio{
    justify-self: center;
    align-self: center;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.profile-image-stats{
    list-style: none;
}

.profile-image-stats li{
    display: inline-block;
    font-size: 1.1rem;
}
.profile-image-stats li img{
    width: 25px;
    height: 25px;
}

