
/*CLASES PARA archivo forgot_password.html*/
.forgot_password_container{
    position: absolute;
    width: 700px;
    height: 100%;
    padding: 50px 20px 0;
    margin-left: 100px;
}

.forgot_password_container h1{
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #553044;
    text-transform: uppercase;
}

.forgot_password_container h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.forgot_password_container input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size:15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #3f3145;
    font-family: 'Montserrat', sans-serif;
}

.forgot_password_container button{
    display: inline;
    cursor:pointer;
    width: 200px;
    height: 50px;
    margin: 25px 45px;
    border-radius: 30px;
    color: #ffffff;
    font-size:17px;
    border-bottom: 1px solid #3f3145;
}

.forgot_password_container .success_message_class{
    opacity: 0;
}
